@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.row {
}


body {
    background-color: bisque;
    margin: auto;
    font-family: 'Orelega One', cursive;;
}

#playerTarget {
    display: flex;
    height: 140px;
}

#cpuTarget {
    display: flex;
    height: 140px;
}

.card {
    height: 120px;
    width: 70px;
    margin: 5px;
}

/*
.cardsDiv {
    background-color: cadetblue;
    width: 50px;
    height: 100px;
    display: inline-block;
    font-size: 10px;
}
*/